body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
}

header h1{
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingPage {
    height: 650px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/rps.png");
    background-size: cover;
    background-position: center;
    border: 5px solid black;
}

.landingPage a {
    position: relative;
    bottom: 70px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 25px;
    padding: 5px 30px;
}

.landingPage a:hover {
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.gameBoarder {
    height: 650px;
    width: 70%;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gameDisplay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gameDisplay h2 {
    text-align: center;
}

.gameDisplay h3 {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 25px;
}

.gameDisplay img {
    height: 200px;
    width: 300px;
    border: 5px solid black;
}

.player {
    padding: 20px 20px 20px 0px;
  }

.cpu {
    padding: 20px 20px 20px 0px;
    transform: scaleX(-1);
}

.gameOptions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameOptions h2{
    text-align: center;
}

.gameOptionsList {
    height: 100px;
    display: flex;
    align-items: center;
}

.gameOptionsList img{
    height: 100px;
    width: 200px;
    border: 3px solid black;
    border-radius: 25px;
    padding: 5px 5px 5px 0px;
    margin: 0px 40px;
}

.gameOptionsList img:hover {
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.landingPage a {
    position: relative;
    bottom: 70px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 25px;
    padding: 5px 30px;
}

@media screen and (max-width: 1150px) {
    body {
        height: 100vh;
    }

    .landingPage {
        height: 500px;
        background-size: 100% 100%;
        margin-bottom: 40px;
    }

    .landingPage a {
        bottom: 50px;
        padding: 3px 10px;
    }

    .gameBoarder {
        height: 500px;
    }

    .gameDisplay img {
        height: 100px;
        width: 150px;
    }

    .gameOptionsList img{
        height: 50px;
        width: 100px;
        margin: 0px 10px;
    }

    .gameDisplay h3 {
        top: 30px;
    }
}

@media screen and (max-width: 650px) {
    header h1{
        font-size: 25px;
    }

    .gameDisplay img {
        height: 60px;
        width: 100px;
        border: 3px solid black;
    }

    .gameOptionsList img{
        height: 40px;
        width: 80px;
    }

    .gameDisplay h3 {
        font-size: 30px;
    }
}